<ul class="records">
  <li *ngFor="let record of records">
    <a [class.selected]="record === selectedRecord" type="button" (click)="onSelect(record)">
      <span class="badge">{{record.id}}</span>
      <span class="name">{{record.name}}</span>
      <button type="button" class="delete" title="delete record"
      (click)="delete(record)">x</button>

    </a>
  </li>

</ul>

<div *ngIf="selectedRecord">
  <h3>Selected record detail:</h3>
  <div>Id of the record: {{selectedRecord.id}}</div>

  
        <div class="recordName">
            <label for="record-name">Name: </label>
            <input id="record-name" [(ngModel)]="selectedRecord.name" placeholder="name">
        </div>
   
        <div class="recordAge">
            <label for="record-age">Age: </label>
            <input id="record-age" [(ngModel)]="selectedRecord.age" placeholder="age">
        </div>
   
        <div class="recordGender">
            <label for="record-gender">Gender: </label>
            <input id="record-gender" [(ngModel)]="selectedRecord.gender" placeholder="gender">
        </div>
    
    <button type="button" class="save" (click)="save()">save</button>
  
</div>